.explode {
    display: none;
    height: 180px;
    width: 180px;
    background: url(../assets/explode.png);
    animation-duration: 2s;
    animation-timing-function: steps(10);
    background-size: auto 100%;
    bottom: -7px;
    position: absolute;
    left: 48px;
    z-index: 2;
    transform: translateX(-50%) rotate(270deg);
}

.explode.run {
    display: block;
    animation-name: sprite;
}
.explode.run + .rocket {
    opacity: 0;
    transition-delay: 0.7s;
}

@keyframes sprite {
    from {
        background-position: 0px;
    }
    to {
        background-position: -2088px;
    }
}
