.explode {
    display: none;
    height: 120px;
    width: 120px;
    background: url(../assets/explode.png);
    animation-duration: 1.5s;
    animation-timing-function: steps(10);
    background-size: auto 100%;
    bottom: -20px;
    position: absolute;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%) rotate(270deg);
}

.explode.run {
    display: block;
    animation-name: sprite;
}
.explode.run + .rocket {
    opacity: 0;
    transition-delay: 0.7s;
}
@keyframes sprite {
    from {
        background-position: 0px;
    }
    to {
        background-position: -1366px;
    }
}
